<h2>Mes participations</h2>
<ul>
    {% for participation in participations %}
        <li>
            Événement : {{ participation.evenement.titre }}<br>
            Statut : {{ participation.statut }}
        </li>
    {% else %}
        <li>Aucune participation</li>
    {% endfor %}
</ul>
