{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
 {{ parent() }}
        <link rel="stylesheet" href="assets/css/style.css" />
        {% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">Identifiants invalides</div>
    {% endif %}

    <form method="post">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div>
            <label for="email">Email :</label>
            <input type="email" value="{{ last_username }}" name="email" id="email" required autofocus>
        </div>

        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" required>
        </div>

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
